img {
    width: 100%;
    height: auto;
  }

body {
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: cornsilk;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 0; /* Stacks TopNav on top of content */
}

.topnav a {
    float: right;
    display: block;
    color: darkcyan;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.topnav a:hover {
    color: peru;
  }

.topnav a.active {
    color: #C70039;
}

.topnav a.home {
    float: left;
    color: midnightblue;
}

.background-image {
    position: relative;
    z-index: -1;
}

.hero-info {
    font-family: Poppins, sans-serif;
    font-size: 48px;
    color: midnightblue;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}